@model Lecture50.Models.Student
@{
	Layout = "~/Views/Shared/_Layout.cshtml"; 
}


<p>You entered following details</p>

<p>Name: @Model.Name</p>
<p>Age: @Model.Age</p>
<p>CGPA: @Model.CGPA</p>
<p>Semester: @Model.Semester</p>


Click <a asp-action="ListStudents">here</a> to see the list of students