@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
	<h2 class="text-center">Welcome to the Home Page</h2> <br><br>
</div>

<div class="text-center">
	<a class="btn btn-primary" asp-controller="Student" asp-action="StudentForm">Add Student</a>  <br> <br>
	<a class="btn btn-dark" asp-controller="Student" asp-action="ListStudents">Student List</a>

</div>