<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2> This is Header Section </h2>
    <h1> Hello People </h1>

    @RenderBody()

    <h2> This is Footer Section </h2>

</body>
</html>