<html>
<head>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
	<div class="text-center">
		<h1 class="text-dark bg-success p-3">-Welcome to Student Management System-</h1>
	</div>

	<div>
		@RenderBody()
	</div>
</body>
</html>